@import '../reset.css';
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Langar&family=Permanent+Marker&display=swap');
$desktop-screeen-2k: 160rem;
$desktop-screeen-tablet: 48rem;
$eco-green: #4CAF50;
$forest-green: #228B22;
$earth-brown: #8D6748;
$sky-blue: #87CEEB;
$sun-yellow: #FFEB3B;
$leaf-green: #81C784;
$soil-brown: #A0522D;
$cloud-white: #F5F5F5;
$water-blue: #00B8D4;
$stone-grey: #B0BEC5;


.cmp-landing {
    display: grid;
    text-align: center;
    gap: 2rem;
    font-size: 1rem;


    &__title {
        font-family: 'Bangers', cursive;
        font-size: 3rem;
        background-color: $eco-green;
        background-image: url('../img/eco-hotel.jpg');
        background-size: cover;
        background-position: right;
        color: $cloud-white;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0.1rem solid $earth-brown;

    }

    &__information {
        font-style: italic;
        color: $earth-brown;
        padding: 0.5rem;
        box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.2);
        margin: 0 0.5rem;

        @media screen and (min-width: $desktop-screeen-tablet) {
            font-size: 1.5rem;
            margin: auto 10rem;
        }
    }

    &__form {
        display: grid;
        margin: 0 0.5rem;
        gap: 0.5rem;
        box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.2);
        padding: 0.5rem;

        input {
            border: 0.1rem solid $earth-brown;
            border-radius: 0.5rem;
            padding: 0.2rem;
        }


        @media screen and (min-width: $desktop-screeen-tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin: auto 10rem;
            align-items: center;
            font-size: 1.5rem;
            gap: 1rem;

            :nth-child(odd) {
                justify-self: start;
            }
        }

        &-password-container {
            display: flex;
            gap: 0.5rem;

            .form-password-container {
                &__password {
                    flex: 1;
                }

                &__password--show {
                    border: solid 0.2rem $eco-green;
                }



                &__show {
                    border: none;
                    background-color: $earth-brown;
                    color: $cloud-white;
                    border-radius: 0.5rem;
                    padding: 0.4rem;

                    &:hover {
                        background-color: $soil-brown;
                    }
                }
            }
        }

        &-password-rules {
            display: none;

            &--show {
                display: flex;
                justify-content: center;
                gap: 1rem;
                // color: red;
                font-size: 0.8rem;
            }

            &:valid {
                background-color: rebeccapurple;
            }

            &:invalid {
                background-color: $stone-grey;
            }


            .valid {
                color: $forest-green;
            }
        }

        &-actions-container {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            justify-content: center;


            @media screen and (min-width: $desktop-screeen-tablet) {
                grid-column: span 2;
            }

            .form-actions-container {
                &__button {
                    background-color: $earth-brown;
                    color: $cloud-white;
                    border-radius: 0.5rem;
                    padding: 0.5rem 1rem;
                    border: none;

                    &:hover {
                        background-color: $soil-brown;
                    }

                }
            }
        }
    }
}
